textarea {
  resize: none;
  height: 50px;
  width: 250px;
}


#root {
  background-color: purple;
  display: block;
  height: 400px;
}

#task-name {
    display: block;
    width: 250px;
}

.task {
  color: white;
}

.list {
  background-color: blue;
}
