body {
  font-family: 'Muli', sans-serif;
}

.root-wrapper {
  margin-top: 50px;
  height: 700px;
  position: relative;
}

.task-wrapper {
  background-color: #f2f2f2;
  width: 80%;
  height: 650px;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: auto;
  margin-bottom: 10px;
  position: absolute;
  z-index: 5;
}

.wrapper-form {
  margin-bottom: 3%;
  height: 27%;
}

.completed {
  background-color: #b3b3b3;
  width: 80%;
  height: 175px;
  border-radius: 0 2px 25px 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 650px;
  overflow: auto;
  position: absolute;
  z-index: 10;
}

.completed-tab {
  background-color: #b3b3b3;
  height: 20%;
  width: 100px;
  right: 9%;
  top: 75px;
  position: absolute;
  border-radius: 0 2px 25px 0;
  z-index: 0;
}

.completed-header {
  float: left;
}

.completed-tab:hover {
  right: 8.4%;
}

#task-name-form {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 15px;
}

#task-description-form {
  display: block;
  resize: none;
  width: 40%;
  margin: 0 auto;
}

.submit-bar {
  background-color: green;
  height: 40px;
  margin: 0 auto;
  margin-top: 10px;

  width: 40%;
}

.list {
  list-style-type: none;
  width: 40%;
  margin: 0 auto;
  padding: 0;
}

.completed-list {
  margin-top: 115px;
}

.task {
  background-color: #d9d9d9;
  height: 50px;
  margin-bottom: 12px;
}

.task:hover {
  box-shadow: 4px 4px 2px -2px #999999;
}

.focused-task {
  background-color: blue;
  width: 50%;
  height: 350px;
  position: absolute;
  z-index: 10;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 50%;
  top: 25%;
}

.focused-task p {
  color: white;
}

.nested-task-list {
  list-style-type: none;
  vertical-align: middle;
}

.nested-task-list-name {
  float: left;
}

.task-list-name {
  font-size: 20px;
  line-height: 50px;
}

.remove {
  float: right;
  line-height: 50px;
  height: 50px;
  width: 50px;
  top: 0;
  right: 0;
  display: block;
  text-align: center;
}

.remove:hover {
  background-color: #ff3333;
}

.complete {
  float: right;
  line-height: 50px;
  height: 50px;
  width: 50px;
  display: block;
  text-align: center;
}

.complete:hover {
  background-color: #00b359;
}

.loading {
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-top: 150px;
}
